.logo-container{
    cursor:pointer;
    display:flex;
    align-items:center;
    padding-left:35px;
}

.header{
    position:fixed;
    width:100%;
    top:0vh;
    left:0vw;
    display:flex;
    justify-content:space-between;
    background-color:#F5F5F5;
    border-radius:0 15px 0 15px;
    height: 13vh;
}

.menu-container{
    display:flex;
}

.hamburger-view{
    display:none;
}

@media (max-width:912px){
    .hamburger-view{
        display:inline;
        position:fixed;
        top:11px;
       right:15px;
        z-index:10;
    }
    .search-container{
        position: static !important;
    }
    .menu-container.expanded{
        display:block;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        width: 100%;
        height:100vh;
        background-color: #8cc5a9;
        border-bottom: 1px solid black;
        text-align:center;
        z-index:99999;
        opacity:1;
    }
    .menu-container{
        display:none;
    }
    .menu-container.expanded ul{
        display:flex;
        flex-direction: column;
    }
    .menu-container.expanded li{
        text-align: center;
        margin: 0;
    }
    .menu-container.expanded li .nav-item{
        color: black;
        width: 100%;
        padding: 1.5rem 0;
        font-style:  Helvetica;
    }
    /* .menu-container.expanded li:hover{
        background-color: #eee;
    } */
}

.header ul{
    display:flex;
    justify-content:space-between;
    padding-top: 45px;
}

.header ul li{
    color:black;
    list-style-type: none;
    margin:0 15px;
    cursor:pointer;
}

.nav-item{
    text-decoration:none;
    color:black;
    font-style:  Helvetica;
    font-size:30px;
}

.corner-menu{
    margin-right:38px;
}
.search-container{
    display:flex;
    align-items:center;
    position:relative;
    right:400px;
    bottom:38px;
}

