.primary-btn{
    background-color: #00AA55;
    border: none;
    padding: .5em;
    border-radius: 1em;
    color: #F5F5F5;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 21px;
    min-width:5em;
    margin-top: 43px;
    cursor:pointer;
    margin:0 8px;
}

@media (max-width:912px){
    .primary-btn{
        height:fit-content;
    }
}