.card-display{
    width: 300px; 
  padding: 20px;
  background-color: #f2f2f2; 
  border-radius: 8px;
  margin-bottom: 20px;
}

.featured-category{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category-img{
  height:15rem;
  width:100%;
}

.category-name{
  font-size:2rem;
  font-weight:600;
  color:#003366;
}

.link-btn{
  text-align:center;
  line-height: 5px;
  padding:25px;
  font-weight:700;
  font-size:1.35rem;
}

@media (max-width:912px){
  .link-btn{
    line-height:1.3;  
  }
}