.form-modal{
    display:flex;
    flex-wrap: wrap;
    min-height: 75vh;
    min-width:65%;
   background-color:#FFFFFF;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   border-radius:18px;
}

.design{
    width:50%;
    min-height: 100%;
    background-color: #99FF99;
    display: flex;
    justify-content:center;
    align-items:center;
}

.form-section{
    width:50%;
    min-height:100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

@media (max-width:767px){
    .design{
        display:none;
    }
    .form-modal{
        width:100%;
        min-height:50vh;
    }
    .form-section{
        min-width:18rem;
        justify-content:flex-start;
        padding-right:8px;
    }
    .form-section p{
        font-size:10px;
    }
}