.cart-container {
    margin: 10rem 5rem;
    padding: 20px;
    border: 1px solid #ccc;
  }

  .cart-container h3{
    text-align: left;
    padding-left:3rem;
    color:#003366;
    font-size:2rem;
  }

  .cart-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-gap: 10px;
  }

  .cart-product{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align:left;
  }

  .cart-product h5{
    width: 100px;
    margin-top:75px;
  }

  .cart-product p{
    margin-top:75px;
  }

  .cart-operations{
    margin-top:75px;
  }

  .total-price{
    text-align: right;
    padding-right:18rem;
    /* position:relative;
    bottom:15rem;
    right: 8rem; */
    color:#003366;
    font-weight:700;
    font-size:1.5rem;
  }

  .checkout-btn{
    text-align: right;
    padding-right:18rem;
    /* position:relative;
    bottom:11.5rem;
    right:3rem;    */
  }

  div,p{
    font-size:1.3rem;
    font-weight:600;
  }
  
  .cart-book-img{
    height:200px;
    width:200px;
    padding-bottom:1.07rem;
  }

  @media (max-width:767px){
    .total-price{
      padding:0 4rem 0 0;
    }
    .checkout-btn{
      padding: 0 4rem 8rem 0;
    }
    .cart-container{
      margin: 10rem 2rem;
    }
  }