.checkout-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
    height:100vh;
   
}

.summary-section{
    border:2px solid #ccc;
    padding:25px;
    border-radius:15px;
}

.order-summary{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    
}

.summary-pic{
    height:280px;
    width:280px;
    margin-left:4rem;
}