.product-section{
    display: flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}
.product-card{
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin:50px;
  min-width: 25em;
}

.main-section{
  display:flex;
}

.product-body{
  margin-top: 12em;
  padding: 0 35px;
}

.book-pic{
  width:490px;
  height:36rem;
}